[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"
flask-session = "*"
sqlalchemy = "*"
sqlalchemy_serializer = "*"
faker = "*"

[requires]
python_version = "3.8"
