.cards {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .show-item {
    flex: 1 1 calc(25% - 20px);
  }
  
  .card-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.2s;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card-text {
    text-align: center;
    margin-top: 10px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  